{%block droneInput%}
    <label for='{%inputName%}'>{%inputLabel%}:</label>
    {%inputError%}
    <input class='textInput' type='file' id='{%inputName%}' name='{%inputName%}' />
{%block droneInput%}
