{%block droneInput%}
    <label for='{%inputName%}'>{%inputLabel%}</label>
    <div class='error'><span>Error:</span> {%inputError%}</div>
    <input class='textInput' type='{%inputType%}' id='{%inputName%}' name='{%inputName%}' value='{%inputValue%}' />
{%end-block%}
