{%block droneInput%}
    <label for='{%inputName%}'>{%inputLabel%}:</label>
    {%if inputError%}
        <div class='error'><span>Error:</span>{%inputError%}</div>
    {%end-if%}
    <input class='textInput' type='text' id='{%inputName%}' name='{%inputName%}' value='{%inputValue%}' />
{%block droneInput%}
