{%block droneInput%}
    <label for='{%inputName%}'>{%inputLabel%}</label>
    {%inputError%}
    <input class='textInput' type='password' id='{%inputName%}' name='{%inputName%}' value='{%inputValue%}' />
{%end-block%}
