{%block droneInput%}
    <label for='{%inputName%}'>{%inputLabel%}</label>
    {%inputError%}
    <textarea class='textInput' rows='5' cols='9' id='{%inputName%}' name='{%inputName%}'>{%inputValue%}</textarea>
{%end-block%}
