    <img class='captchaImage' src='?phpDrone_draw_captchaid=<!--captchaId-->' alt='<!--"Captcha verification image"|translate-->' onclick='regenerate("<!--captchaId-->")'/>
    <!--if inputError-->
        <span class='inputError'><span><!--"Error"|translate(true)-->: </span><!--inputError--></span>
    <!--/if-->
    <span class="captchaNote"><b><!--"Note"|translate(true)-->:</b>&nbsp;<!--"Click image to regenerate"|translate(true)--></span>
    <script type='text/javascript' src='?phpDroneRequestResource=scripts/jquery.js'></script>
    <script type='text/javascript' src='?phpDroneRequestResource=scripts/captcha.js'></script>
    <input type='hidden' name='captchaId' value='<!--captchaId-->'/>
