{%block droneInput%}
    {%if inputLabel%}
        <label for='{%attributes.id%}'>
            {%if2 mandatoryMarker%}
                <span class='mandatoryMarker'>{%mandatoryMarker%}</span>
            {%end-if2%}
            {%inputLabel%}:
        </label>
    {%end-if%}
    {%if inputError%}
        <span class='inputError'><span>Error: </span>{%inputError%}</span>
    {%end-if%}
    <textarea rows='5' cols='9' {%for item in attributes%}{%for_key%}='{%item%}' {%end-for%}>{%inputValue%}</textarea>
{%end-block%}
