{%block droneInput%}
    <label for='{%inputName%}'>{%inputLabel%}</label>
    {%if inputError%}
        <div class='error'><span>Error: </span>{%inputError%}</div>
    {%end-if%}
    <select id='{%inputName%}' name='{%inputName%}'>
        {%for item in values%}
            <option value='{%item.key%}' {%item.selected%}>{%item.value%}</option>
        {%end-for%}
    </select>
{%end-block%}
