{%block droneInput%}
    <label for='{%inputName%}'>{%inputLabel%}</label>
    {%if inputError%}
        <div class='error'><span>Error:</span>{%inputError%}</div>
    {%end-if%}
    <textarea class='textInput' rows='5' cols='9' id='{%inputName%}' name='{%inputName%}'>{%inputValue%}</textarea>
{%end-block%}
