{%block droneInput%}
    <img id='captchaImage' src='phpDrone/Captcha.php?id={%captchaId%}' alt='Captcha'/>
    {%inputError%}
    <input type='hidden' name='captchaId' value='{%captchaId%}'/>
{%block droneInput%}
