<!--if inputLabel-->
    <label for='<!--attributes.id-->' id='<!--attributes.id-->_label'>
        <!--if2 mandatoryMarker-->
            <span class='mandatoryMarker'><!--mandatoryMarker--></span>
        <!--/if2-->
        <!--inputLabel-->:
    </label>
<!--/if-->
<!--if inputError-->
    <span class='inputError'><span><!--"Error"|translate(true)-->: </span><!--inputError--></span>
<!--/if-->
<!--for item in values-->
    <input <!--if attributes.disabled[item.key]--> disabled='disabled'<!--/if-->type="radio" <!--if drone_for_first--> id='<!--attributes.id-->'<!--/if--> name='<!--attributes.name-->' value='<!--item.key-->' <!--if item.selected-->checked='checked'<!--/if--> /><span class='checkboxValue'><!--item.value--></span><span class="checkboxDelimiter">&nbsp;</span>
<!--/for-->
