{%block droneInput%}
    {%if inputLabel%}
        <label for='{%inputName%}'>
            {%if2 mandatoryMarker%}
                <span class='mandatoryMarker'>{%mandatoryMarker%}</span>
            {%end-if2%}
            {%inputLabel%}:
        </label>
    {%end-if%}
    {%if inputError%}
        <span class='inputError'><span>Error: </span>{%inputError%}</span>
    {%end-if%}
    <select id='{%inputName%}' name='{%inputName%}'>
        {%for item in values%}
            <option value='{%item.key%}' {%if item.selected%}selected='selected'{%end-if%}>{%item.value%}</option>
        {%end-for%}
    </select>
{%end-block%}
