{%block droneInput%}
    {%if inputLabel%}
        <label for='{%inputName%}'>
            {%if2 mandatoryMarker%}
                <span class='mandatoryMarker'>{%mandatoryMarker%}</span>
            {%end-if2%}
            {%inputLabel%}:
        </label>
    {%end-if%}
    {%if inputError%}
        <span class='inputError'><span>Error: </span>{%inputError%}</span>
    {%end-if%}
    <input class='textInput' {%if maxlength%}maxlength='{%maxlength%}'{%end-if%}  type='password' id='{%inputName%}' name='{%inputName%}' value='{%inputValue%}' />
{%end-block%}
