{%block droneInput%}
    {%if inputLabel%}
        <label for='{%attributes.id%}' id='{%attributes.id%}_label'>
            {%if2 mandatoryMarker%}
                <span class='mandatoryMarker'>{%mandatoryMarker%}</span>
            {%end-if2%}
            {%inputLabel%}:
        </label>
    {%end-if%}
    {%if inputError%}
        <span class='inputError'><span>{%"Error"|translate%}: </span>{%inputError%}</span>
    {%end-if%}
    <input type='file' {%for item in attributes%}{%for_key%}='{%item%}' {%end-for%}/>
{%end-block%}
