body
{
    margin-bottom:50px;
}

#phpDroneFooter
{
    bottom:21px;
}

#phpDroneConsole
{
    background:url("?phpDroneRequestResource=images/debug_bkg.png") left top;
    position:fixed;
    bottom:0px;
    width:100%;
    font-size:12px;
    font-family: "Trebuchet MS";
    color:white;
    border-top:2px solid black;
    margin-top:20px;
}

    #phpDroneConsole #drone_consoleSmallBtn
    {
        display:none;
    }

    #phpDroneConsole #droneConsoleSmall
    {
        padding-left:10px;
        border-bottom:1px solid black;
    }

    #phpDroneConsole .drone_consoleBtn
    {
        float:right;
        margin-right:10px;
        margin-top:1px;
        
        cursor: pointer;
        width:16px;
        height:16px;
        z-index:10;
    }
    
    #phpDroneConsole #droneConsoleBig
    {
        padding-left:10px;
        padding-top:10px;
        display:none;
    }

#droneProfilerTimes
{
    color:white;
    font-size:10px;
    margin-bottom:10px;
}

    #droneProfilerTimes td, #droneProfilerTimes th
    {
        text-align:center;
    }
    
    #droneProfilerTimes td
    {
        border:1px solid #FF9A15;
        background-color:#5B5B5B;
        width:70px;
    }
    
    #droneProfilerTimes td.sectionCell
    {
        width:auto;
    }