<link rel="stylesheet" type="text/css" media="all" href="?phpDroneRequestResource=styles/calendar/calendar-system.css" title="Calendar skin" />
<script type="text/javascript" src="?phpDroneRequestResource=scripts/calendar/calendar.js"></script>
<script type="text/javascript" src="?phpDroneRequestResource=scripts/calendar-lang/calendar-en.js"></script>
<script type="text/javascript" src="?phpDroneRequestResource=scripts/calendar/calendar-setup.js"></script>
