<form action="<!--WidgetLoginPage-->?action=login" method="post">
<div>
    <div id="loginFormStatus"><!--loginFormStatusMessage--></div>
    <!--WidgetLoginForm-->
    <input type="submit" class="formButton" value="Login" />
</div>
</form>
