{%block htmlWidget%}
    <div class="pageNum">
        <div>
            {%itemCount%} {%itemLabel%}:
            {%for item in pages%}
                {%if for_first%}
                    {%if2 item+1==currentPage%}
                        <span class="disabledPageNumBtn">&laquo;Prev</span>
                    {%else2%}
                        <a href="{%phpDroneURL%}/widgets/pageNum.php?action=setPage&amp;page={%currentPage-1%}" title="Go to page {%currentPage-1%}">&laquo;Prev</a>
                    {%end-if2%}
                {%end-if%}
                {%if item+1==currentPage%}
                    <span title="You are on page {%item+1%}">{%item+1%}</span>
                {%else%}
                    <a href="{%phpDroneURL%}/widgets/pageNum.php?action=setPage&amp;page={%item+1%}" title="Go to page {%item+1%}">{%item+1%}</a>
                {%end-if%}
                {%if for_last%}
                    {%if2 item+1==currentPage%}
                        <span class="disabledPageNumBtn">Next&raquo;</span>
                    {%else2%}
                        <a href="{%phpDroneURL%}/widgets/pageNum.php?action=setPage&amp;page={%currentPage+1%}" title="Go to page {%currentPage+1%}">Next&raquo;</a>
                    {%end-if2%}
                {%end-if%}

            {%end-for%}
        </div>
        <div>
            {%currentPerPage%} per page :
            {%for pref in prefs%}
                {%if pref==currentPerPage%}
                    <span title="Curently set at {%currentPerPage%} per page">{%currentPerPage%}</span>
                {%else%}
                    <a title="Switch to {%pref%} per page" href="{%phpDroneURL%}/widgets/pageNum.php?action=setPref&amp;prefName={%prefName%}&amp;pref={%pref%}">{%pref%}</a>
                {%end-if%}
            {%end-for%}
        </div>
    </div>
{%end-block%}
