<!--block droneDBField-->
<!--fieldName--> INT
<!-- if fieldSize-->
(<!--fieldSize-->)
<!--/if-->
<!--fieldUnsigned--> <!--fieldNull--> <!--fieldAutoIncrement--> <!--primary-->
<!-- if fieldDefault-->
 DEFAULT '<!--fieldDefault-->'
<!--/if-->
<!--/block-->
